.main {
  position: relative;
  padding: 30px 30px;
  bottom: 50px;
  display: flex;
  flex-direction: row;
  background: #ebf4ff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.04);
}
.form-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.input1,
.input2,
.input3 {
  padding: 10px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.68);
  border-radius: 5px;
  border: 1px solid #92a1b4;
}
.form-btn1 {
  background: #2d99da;
  border-radius: 5px;
  padding: 7px 20px;
  border: none;
  color: white;
  margin-left: 10px;
}
.form-btn2 {
  background: #6f359e;
  border-radius: 5px;
  padding: 7px;
  border: none;
  color: white;
  margin-left: 10px;
}
