.main{
    
position: absolute;
width: 1149px;
height: 126px;
left: 88px;
top: 500px;

background: #EBF4FF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.04);
border-radius: 4.49152px;
}
.input1,.input2,.input3{

padding: 7px ;
margin-left: 80px;
/* margin-top: 0px; */

background: rgba(255, 255, 255, 0.68);
border-radius: 5px;
 border: 0.561439px solid #92A1B4;


}
.form-btn1{
    background: #2D99DA;
    border-radius: 5px;
    padding: 7px 20px;
    border: none;
    color: white;
    margin-left: 100px;
}
.form-btn2{
      background: #6F359E;
    border-radius: 5px;
    padding: 7px;
    border: none;
    color: white;
    margin-left: 10px;
}
.phone{
    font-weight: bold;
    margin-top: 20px;
    margin-left: 80px;
    

    
}
.para1{
    display: inline-block;


}
.para2{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-left: 80px;
    font-size: 15px;
    position: absolute;
}
.para3{
    display: inline-block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    /* margin-left: 140px; */
    left: 850px;
    position: absolute;
}