.main-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  margin-top: 20px;
  height: 100px;
  display: flex;

  justify-content: center;
}
.grid1 {
  margin-left: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

  border-radius: 10px;
}
.fa-ambulance,
.fa-heartbeat,
.fa-wheelchair,
.fa-user-md,
.fa-stethoscope,
.fa-hospital-o,
.fa-inr,
.fa-hand-stop-o,
.fa-chain-broken,
.fa-refresh,
.fa-venus-double,
.fa-pie-chart {
  font-size: 40px;
  padding: 10px 20px;
}
.icon {
  padding: 5px 5px;
  font-size: 12px;
}
.grid2 {
  margin-left: 10px;

  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.grid-heading {
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;

  font-weight: bold;
}
.grid1:hover,
.grid2:hover {
  background: lightgrey;
}
