.main-grid{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    margin-top: 20px;
    /* margin-left: 10px; */
    margin-left: 340px;
    height: 100px;
    
    
}
.grid1{
    background-color: lightblue;
    margin-left: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
     border: 2px solid black;
     
    border-radius: 10px;

}
.grid2{
    background-color: lightcoral;
    margin-left: 10px;
    /* border: none; */
    border: 2px solid black;
    border-radius: 10px;
box-shadow: 10px 10px 10px rgba(0,0,0,0.2);

}
.grid-heading{
    margin-left: 250px;
    font-family: Arial, Helvetica, sans-serif;
    
    font-weight: bold;
}