.profile-grid{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px ;
    margin-top: 20px;
    /* margin-left: 10px; */
    margin-left: 300px;
    height: 100px;
    
    
    
}
.profile-grid1{
    
    margin-left: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
     border: 1px solid black;
     width: 300px;
    border-radius: 2px;

}
.profile-grid2{
        width: 300px;
    margin-left: 250px;
    /* border: none; */
    border: 1px solid black;
    border-radius: 2px;
box-shadow: 10px 10px 10px rgba(0,0,0,0.1);

}